/*
ð•„ð•’ð•šð•Ÿ ð•Šð•¥ð•ªð•ð•–ð•¤ð•™ð•–ð•–ð•¥
*/

/* ============= */
/* =========== GENERAL =========== */
/* ============= */

html {
    font-size: 14px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    font-weight: normal;
    height: 100%;
    max-width: 100%;
    /*text-rendering: optimizeLegibility;*/
}

.title-font {
    font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    color: #003850;
}

.outermost_wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden !important;
}

a:focus, button:focus {
    outline: none !important;
    border: none !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.001) inset, 0 0 1px rgba(255, 255, 255, 0.1);
    outline: 0 none;
}

input:disabled, input[disabled] {
    opacity: 0.5 !important;
}





/* ============= */
/* =========== NAVIGATION =========== */
/* ============= */

.bg-transparent {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
}

li.nav-item {
    margin-right: 22px;
}

li.nav-item a {
    font-size: 1.2rem;
    color: #000000 !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {color: #ffffff;}

li.nav-item > a:after {
    content: '';
    display: block;
    height: 1px;
    background: #003850;
    transform: scaleX(0);
    transition: transform .3s;
}
li.nav-item > a:hover:after {
    transform: scaleX(1);
    transition: transform .3s;
}
.active {
    color: #003850 !important;
}

/* Hamburger menu animation assets */
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {background: #003850;}

.animated-icon1 span:nth-child(1) {top: 0;}

.animated-icon1 span:nth-child(2) {top: 10px;}

.animated-icon1 span:nth-child(3) {top: 20px;}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.navbar-light .navbar-toggler {border: none !important;}
.navbar-toggler:focus {box-shadow: none !important;}

.nav-item > a.lang {color: #003850 !important;}

a.lang {
    position: relative;
    top: 7px;
    text-decoration: none;
    opacity: 0.4;
}

a.lang.active {
    opacity: 1;
    pointer-events: none;
}

span.v_separ {
    position: relative;
    left: -11px;
    top: 7px;
    height: 15px;
    border: 1px solid #d2d2d2;
}




/* ============= */
/* =========== HEADER =========== */
/* ============= */

.pluscapital_header_area {
    position: relative;
    display: flex;
    align-content: center;
    min-height: 710px;
    height: auto;
    width: 100%;
    background-image: linear-gradient(180deg, #F6F6F6 0%, #FFFFFF 100%);
}

.h_banner {
    position: relative;
    top: 180px;
}

img.main_logo {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 363px;
    width: 100%;
}





/* ============= */
/* =========== COMPANY =========== */
/* ============= */

.company_area {
    position: relative;
    min-height: 645px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 55px;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FBFBFB 53%, #FBFBFB 100%);
}

h2.section_title {
    font-size: 2.25rem;
    color: #003850;
    font-weight: bold;
    text-align: center;
}

article.bodytext {
    padding-top: 26px;
    font-size: 1.25rem;
    color: #000000;
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

.company_details_holder {
    width: 70%;
    margin: 0 auto;
    padding-top: 45px;
}

.lonelyrobot {
    position: relative;
    height: 253px;
    width: 100%;
    float: left;
    top: 40px;
}

span.robot_separ_vertical {
    display: block;
    position: relative;
    left: 15vw;
    height: 350px;
    width: 1px;
    background: rgb(153,153,153);
    background: linear-gradient(0deg, rgba(153,153,153,0.06346288515406162) 0%, rgba(153,153,153,1) 50%, rgba(153,153,153,0.0578606442577031) 100%);
}

.company_textual_data_holder {
    padding-left: 55px;
    padding-top: 24px;
}

h4.company_data_txt {
    font-size: 1.25rem;
    color: #999999;
    text-align: left;
}

.phone_and_email_holder {
    padding-top: 22px;
}

.phone_holder {
    margin-bottom: 12px;
}

span.phoneicon {
    display: inline-block;
    float: left;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background: url('../img/phone_circle.svg') center center no-repeat;
    background-size: contain;
}

span.emailicon {
    display: inline-block;
    float: left;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background: url('../img/email_circle.svg') center center no-repeat;
    background-size: contain;
}

a.infodatalink {
    display: inline-block;
    font-size: 1.25rem;
    color: #003850;
    text-align: left;
    text-decoration: none;
    position: relative;
    top: -3px;
}

.contact_btn_holder {
    padding-top: 32px;
}

button.main_cta_btn {
    width: 235px;
    height: 60px;
    font-size: 1.143rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #A71D31;
    box-shadow: 0 29px 12px -30px #A71D31;
    border-radius: 32px;
    color: #ffffff;
    border: none;
    transition: 0.4s all ease-in-out;
}

button.main_cta_btn:hover {
    background: #721220;
    color: #eeeeee;
}





/* ============= */
/* =========== PHILOSOPHY =========== */
/* ============= */

.philosophy_area {
    position: relative;
    min-height: 930px;
    height: auto;
    padding-top: 85px;
    padding-bottom: 55px;
    background: #ffffff;
}

.three_circles_holder {
    padding-top: 75px;
}

.circle_box_outmost {
    text-align: center;
}

.ph_circle {
    border-radius: 100%;
    display: inline-flex;
    border: 1px solid #003850;
    background: transparent;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-bottom: 22px;
}

img.ph_icon {
    width: 100%;
    height: 70px;
    align-content: center;
}

h4.ph_title {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    color: #003850;
}

article.ph_txt_block {
    text-align: left;
    padding-top: 12px;
}

article.ph_txt_block p {
    font-size: 1.143rem;
    color: #000000;
    text-align: left;
    margin-bottom: 12px;
    line-height: 1.3;
}



